/* ==========================
   CONTROLWATT GLOBAL BACKGROUND
========================== */


body{

    min-height:100vh;

    background-image:

    linear-gradient(
        rgba(2,6,23,.35),
        rgba(2,6,23,.45)
    ),

    url('/images/smart-home.jpg');


    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    background-attachment:fixed;

}
