input,
select,
textarea{


background:

rgba(255,255,255,.08);



border:

1px solid rgba(255,255,255,.15);



padding:15px;


border-radius:15px;


color:white;



backdrop-filter:

blur(10px);



}


input:focus{


outline:none;


border-color:

var(--gold);



box-shadow:

0 0 20px rgba(219,180,44,.3);



}
