.navbar{

    height:70px;

    width:100%;

    background:#111827;

    border-bottom:1px solid #374151;

    display:flex;

    align-items:center;

    justify-content:flex-end;

    padding:0 30px;

    box-sizing:border-box;

}


.navbar-right{

    display:flex;

    align-items:center;

    gap:15px;

    flex-wrap:nowrap;

}



.navbar-btn{

    width:42px;

    height:42px;

    border-radius:12px;

    border:1px solid #374151;

    background:#1f2937;

    color:white;

    cursor:pointer;

    font-size:18px;

}



.profile{

    display:flex;

    align-items:center;

    gap:10px;

    padding:8px 15px;

    border-radius:12px;

    background:#1f2937;

    color:white;

}



.navbar-logo{

    width:35px;

    height:35px;

    object-fit:contain;

}
.profile-dropdown{

    position:relative;

}



.profile-button{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    white-space:nowrap;

    background:#1f2937;

    border:1px solid #374151;

    color:white;

    padding:8px 15px;

    border-radius:12px;

    cursor:pointer;

}



.profile-img{

    width:32px;

    height:32px;

    object-fit:contain;

    flex-shrink:0;

}


.profile-menu{

    display:none;

    position:absolute;

    right:0;

    top:55px;

    width:220px;

    background:#111827;

    border:1px solid #374151;

    border-radius:12px;

    padding:10px;

    box-sizing:border-box;

}



.profile-menu a,
.profile-menu button{

    display:flex;

    align-items:center;

    gap:10px;

    white-space:nowrap;

    width:100%;

    padding:10px;

    color:white;

    text-decoration:none;

    background:none;

    border:none;

    cursor:pointer;

}



.profile-menu a:hover,
.profile-menu button:hover{

    background:#1f2937;

}



.profile-menu.active{

    display:block;

}
