:root{


/* DARK */

--bg-dark:
linear-gradient(
135deg,
#020617,
#111827,
#1e293b
);


--surface-dark:
rgba(255,255,255,.08);


--surface-dark-hover:
rgba(255,255,255,.14);


--border-dark:
rgba(255,255,255,.15);


--text-dark:
#f8fafc;


--text-secondary-dark:
#94a3b8;



/* LIGHT */


--bg-light:
linear-gradient(
135deg,
#f8fafc,
#e2e8f0
);


--surface-light:
rgba(255,255,255,.75);


--border-light:
rgba(15,23,42,.12);


--text-light:
#0f172a;


--text-secondary-light:
#475569;



/* COLORES APP */


--gold:
#DBB42C;


--green:
#22c55e;


--danger:
#ef4444;



/* SOMBRAS */


--shadow-dark:

0 25px 60px rgba(0,0,0,.45);



--shadow-light:

0 20px 45px rgba(15,23,42,.15);



}
